
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.cart-container{
  background:lightcyan;
  min-height: 200px;
}

.item-row{
  border: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: space-between;
}
.image{
  width: 15%;
}
.name{
  width: 35%;  
}
.price{
  width: 15%;  
  display: block;
  border: 1px solid rgb(196, 196, 196);
  
}
.quantity{
  width: 10%;
}
.remove{
  border: 1px solid rgb(214, 214, 214);
}
.subtotal{
  width: 20%;  
  border: 1px solid rgb(221, 221, 221);
}
